.root {
    -fx-base: rgba(60, 63, 65, 255);
    -fx-accent: #2f65ca;
}

.context-menu{
    -fx-background-color: #515151, #3c3f41;
}

.context-menu .separator:horizontal .line {
    -fx-border-color: #515151 transparent transparent transparent;
}

.text-input{
    -fx-prompt-text-fill: #81888C;
}

.text-input:focused{
    -fx-prompt-text-fill: transparent;
}