.paragraph{
    -fx-font-family: "System";
}

.title{
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.header{
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}

.empty-line{
    -fx-font-size: 10px;
}

.link{
    -fx-fill: blue;
    -fx-underline: true;
    -fx-cursor: hand;
}

#content-grid-pane{
    -fx-background-color: -fx-control-inner-background;
}
