.label{
    -fx-text-fill: #bbbbbb;
}

.menu-bar{
    -fx-background-color: #3c3f41;
}

.menu-bar > .container > .menu-button:hover,
.menu-bar > .container > .menu-button:focused,
.menu-bar > .container > .menu-button:showing,
.menu-item:focused {
    -fx-background: #2f65ca;
}

.context-menu{
    -fx-background-color: #515151, #3c3f41;
}

#background-vbox{
    -fx-background-color: black;
}

#bottom-bar{
    -fx-background-color: #2b2b2b;
}

#tooltip-vbox{
    -fx-background-color: #feffcd;
}

#tooltip-vbox .label{
    -fx-text-fill: black;
}

.slider .track {
    -fx-pref-height: 10;
    -fx-background-color:
          -fx-shadow-highlight-color,
          linear-gradient(to bottom, derive(-fx-text-box-border, -10%), -fx-text-box-border),
          linear-gradient(to bottom,
          derive(#51504f, -9%),
          derive(#51504f, 0%),
          derive(#51504f, -5%)
          );
}

.slider .thumb{
    -fx-background-color:
            linear-gradient(to bottom, derive(-fx-text-box-border, -20%), derive(-fx-text-box-border, -30%)),
            -fx-inner-border,
            #2b2b2b;
}

.button {
    -fx-background-color: -fx-shadow-highlight-color, derive(#51504f,-23%), -fx-inner-border, #51504f;
}

.context-menu .separator:horizontal .line {
    -fx-border-color: #515151 transparent transparent transparent;
}