.menu-bar{
    -fx-background-color: #f4f4f4;
}

#background-vbox{
    -fx-background-color: black;
}

#bottom-bar{
    -fx-background-color: #f4f4f4;
}

#tooltip-vbox{
    -fx-background-color: #feffcd;
}

.slider .track{
    -fx-pref-height: 10;
}