.label{
    -fx-text-fill: #bbbbbb;
}

.menu-bar{
    -fx-background-color: #3c3f41;
}

.menu-bar > .container > .menu-button:hover,
.menu-bar > .container > .menu-button:focused,
.menu-bar > .container > .menu-button:showing,
.menu-item:focused {
    -fx-background: #2f65ca;
}